<h1>Dropsonde Twitter <-> SMS Gateway</h1>

<div class="container">
	<div class="row">
		<div class="span12"
			<blockquote class=".pull-right">
				The Dropsonde Twitter to SMS gateway is a site designed to help you set up Twitter direct messaging on your phone, using SMS.
			</blockquote>
		</div>
	</div>
	<div class="row"><div class="span12"></div></div>
	<div class="row">
		<div class="span12">
			<div class="center-button">
				<%= 
				link_to image_tag('signin_twitter.png'), '/auth/twitter'
				%>
			</div>
		</div>
	</div>
</div>

