<h1>Dropsonde Twitter <-> SMS Gateway</h1>

<gblockquote class=".pull-right">
	The Dropsonde Twitter to SMS gateway is a site designed to 
	help you set up Twitter direct messaging on your phone, using SMS.
</blockquote>

