<h1>Dropsonde Twitter <-> SMS Gateway</h1>

<div class="container">
	<div class="row">
		<div class="span1"
			<blockquote class=".pull-right">
				The Dropsonde Twitter to SMS gateway is a site designed to help you set up Twitter direct messaging on your phone, using SMS.
			</blockquote>
		</div>
	</div>
	<div class="row"><div class="span12"></div></div>
	<div class="row">
		<div class="span1">
			<strong>The gateway is currently under construction.</strong>
		</div>
	</div>
</div>
