<h1>Twitter#auth</h1>
<p>Find me in app/views/twitter/auth.html.erb</p>
<p> <%= puts params %> </p>
<!--
https://twitter.dropsonde.net/auth/twitter/callback?oauth_token=5jL5lqXOLyeZt6EVWO8x9u584SHdl5Ffu7odWYoV1o8&oauth_verifier=a1MvX8avoBZ9btp6np0ZeIXX5mpsZU2rE6JEwOA4SE
	-->