<!DOCTYPE html>
<html>
<head>
  <title>DropsondeTwitter</title>
  <%= stylesheet_link_tag    "twitter/bootstrap", 
  						     "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
